@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-white: #f3f3f3;
  --color-background: #141617;
  --color-background-foreground: #f3f3f3;
  --color-purple-light: #a39fbf;
  --color-purple-black: #313646;
  --color-red: #cb4648;
  --color-red-light: #d97f77;

  --size-sm: 14px;
  --size-lg: 20px;
  --size-2xl: 24px;
  --size-3xl: 32px;
  --size-4xl: 48px;
  --size-6xl: 64px;
  --size-7xl: 72px;
  --size-8xl: 80px;
  --size-9xl: 90px;

  --font-light: 300;
  --font-normal: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--color-background);
  z-index: 1000;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  z-index: 1000;
}

/* Estiliza o track (trilho da barra) */
::-webkit-scrollbar-track {
  background: var(--color-background-foreground);
  border-radius: 5px;
  z-index: 1000;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-purple-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--font-light);
}

a {
  text-decoration: none;
}

.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.layout .boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.layout .top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.layout .top-right {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

.layout .bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.layout .bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(270deg);
}

.layout .box {
  display: block;
  width: 30px;
  height: 30px;
}

.box-red-light {
  background-color: var(--color-red-light);
  opacity: 50%;
}
.box-red-dark {
  background-color: var(--color-red);
  opacity: 50%;
}

.box-purple-light {
  background-color: var(--color-purple-light);
  opacity: 50%;
}

.box-purple-dark {
  background-color: var(--color-purple-black);
  opacity: 50%;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  padding: 20px 10%;
  background-color: var(--color-background);
  color: var(--color-background-foreground);
}

.start {
  background-image: url("../images/back-ground-quizzes-opacity.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/* NAV BAR */
.start .nav-bar {
  height: 64px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.start .nav-bar .buttons {
  padding: 10px 0;
  display: flex;
  width: auto;
  gap: 20px;
}

.button {
  all: unset;
  border-radius: 2px;
  padding: 10px 20px;
  font-weight: var(--font-normal);
  font-size: var(--size-lg);
  background-color: rgba(20, 22, 23, 0.1);
  color: var(--color-background-foreground);
  cursor: pointer;
}

.button-purple {
  color: var(--color-background);
  background-color: var(--color-purple-light);
}

.start .nav-bar .buttons .button-foreground {
  border: 1px solid var(--color-background-foreground);
  color: var(--color-background-foreground);
  backdrop-filter: blur(4px);
  transition: 0.2s ease-in-out;
}
.start .nav-bar .buttons .button-foreground:hover {
  background-color: var(--color-background-foreground);
  color: var(--color-background);
}

.icon {
  padding: 5px;
}

.start .nav-bar .buttons .menu {
  all: unset;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 10px;
  width: 35px;
  color: var(--color-background-foreground);
  cursor: pointer;
}

.start .nav-bar .buttons .menu .line {
  width: 100%;
  height: 1px;
  background-color: var(--color-background-foreground);
}

.text-lg {
  font-size: var(--size-lg);
}
.text-2xl {
  font-size: var(--size-2xl);
}
.text-6xl {
  font-size: var(--size-6xl);
}
.font-light {
  font-weight: var(--font-light);
}
.font-normal {
  font-weight: var(--font-normal);
}
.font-semibold {
  font-weight: var(--font-semibold);
}

/* SHEET */

.sheet {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  pointer-events: none;
  transition: 0.2s all;
}

.sheet-active {
  opacity: 1;
  pointer-events: all;
  background-color: rgba(20, 22, 23, 0.5);
  backdrop-filter: blur(20px);
}

.sheet .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 100%;
  font-size: var(--size-6xl);
  font-weight: var(--font-light);
}

.sheet .link {
  transform: translateX(200%);
  color: var(--color-background-foreground);
  transition: 0.2s all;
  cursor: pointer;
}

.sheet .link a {
  color: white;
}

.sheet .link:hover {
  font-size: var(--size-9xl);
}

.sheet .bottom .buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  text-align: center;
  padding-top: 24px;
  border-top: 1px solid rgba(203, 70, 72, 0.5);
}

.active {
  font-weight: var(--font-bold);
  color: var(--color-red) !important;
  cursor: not-allowed;
}

#button_close_menu {
  color: var(--color-background-foreground);
  cursor: pointer;
}

.link-active {
  transform: translateX(0) !important;
}

#preview-profile {
  height: 44px;
  width: 46px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
  border: 1px solid var(--color-red);
}
/* globals */

.invisibility {
  visibility: hidden !important;
  display: none !important;
}

.exit span:hover svg {
  transition: 0.2s all;
}
.exit span:hover svg {
  width: 90px;
  height: 90px;
}

.exit span {
  transition: 0.2s;
  color: var(--color-red) !important;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* DASHBOARD */

.title {
  font-size: var(--size-3xl);
  color: var(--color-red);
  font-weight: var(--font-bold);
  position: relative;
  margin-bottom: 20px;
  animation: leftAnimate 0.5s ease-in-out;
}

.title::before {
  content: " ";
  width: 5px;
  height: 100%;
  background-color: var(--color-red);
  display: block;
  position: absolute;
  transform: translate(-10px, 2px);
}

.charts {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 32px;
  margin-bottom: 32px;
  max-height: 500px;
}

.chart-quizzes {
  grid-column-start: 1;
  grid-column-end: 6;
}
.chart-comments {
  grid-column-start: 6;
  grid-column-end: 11;
}

.chart-mapping {
  grid-column-start: 11;
  grid-column-end: 14;
}

.histories {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}

.history-recommendation {
  grid-column-start: 1;
  grid-column-end: 9;
}

.history-comments {
  grid-column-start: 9;
  grid-column-end: 13;
}

.histories .title {
  color: var(--color-background-foreground);
}
.histories .title::before {
  content: " ";
  width: 5px;
  height: 100%;
  background-color: var(--color-background-foreground);
  display: block;
  position: absolute;
  transform: translate(-10px, 2px);
}

.recommendations {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.recommendation {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 5px;
  animation: upAnimate 0.5s ease-in-out;
  opacity: 1;
}

@keyframes upAnimate {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes leftAnimate {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.recommendation h4 {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: var(--color-background-foreground);
}

.recommendation-image-preview {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 2px;
}
.comments {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.comment {
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  border: 1px solid var(--color-background-foreground);
  color: var(--color-background-foreground);
  background-color: hsla(0, 0%, 95%, 0.05);
  backdrop-filter: blur(20px);
  animation: upAnimate 0.5s ease-in-out;
}

.comment img {
  width: 70px;
  height: 70px;
  object-fit: cover !important;
  border-radius: 100%;
  border: 1px solid var(--color-background-foreground);
}

.content-text {
  display: flex;
  justify-content: space-between;
}

.title-comment {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-background-foreground);
}

.time {
  font-size: 12px;
  font-weight: 300;
}

.comment .content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
}

.details {
  font-weight: 400;
  font-size: 14px;
}

.mapping-1 {
  background-color: var(--color-red);
}

.mapping-2 {
  background-color: var(--color-purple-light);
}
.mapping-2 h4 {
  color: var(--color-background);
}

.mapping-3 {
  background-color: var(--color-purple-black);
}

.mapping-3 h4 {
  color: var(--color-background-foreground);
}

.light .mapping-2 h4 {
  color: var(--color-background-foreground);
}

.light .mapping-3 h4 {
  color: var(--color-background);
}

@media only screen and (min-width: 2000px) {
  .recommendations {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }
}

.indicators {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.indicator {
  border-radius: 16px;
  border-left: 4px solid var(--color-red);
  height: 300px;
  background-color: var(--color-background);
  margin-bottom: 32px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.indicator h4 {
  font-size: var(--size-2xl);
  font-weight: var(--font-normal);
}

.indicator .number {
  font-size: var(--size-4xl);
  font-weight: var(--font-normal);
  transform: translateY(-40px);
}

.percentage {
  font-size: 16px;
  color: #84cc77;
}

.legend p {
  margin-top: 10px;
}

.indicator .image-indicator {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
}

.indicator-anime {
  cursor: pointer;
}

.image-character {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 48px;
  border-radius: 4px;
  height: auto;
}
