@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-white: #f3f3f3;
  --color-background: #141617;
  --color-background-foreground: #f3f3f3;
  --color-purple-light: #a39fbf;
  --color-purple-black: #313646;
  --color-red: #cb4648;
  --color-red-light: #d97f77;

  --size-sm: 14px;
  --size-lg: 20px;
  --size-2xl: 24px;
  --size-3xl: 32px;
  --size-4xl: 48px;
  --size-6xl: 64px;
  --size-7xl: 72px;
  --size-8xl: 80px;
  --size-9xl: 90px;

  --font-light: 300;
  --font-normal: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--font-light);
}
a {
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 20px 10%;
  background-image: url("../images/back-ground-quizzes.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
}

.dark {
  color: var(--color-background-foreground);
  background-color: var(--color-background);
}

/* LAYOUT */
.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.layout .boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.layout .top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.layout .top-right {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

.layout .bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.layout .bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(270deg);
}

.layout .box {
  display: block;
  width: 30px;
  height: 30px;
}

.box-red-light {
  background-color: var(--color-red-light);
  opacity: 50%;
}
.box-red-dark {
  background-color: var(--color-red);
  opacity: 50%;
}

.box-purple-light {
  background-color: var(--color-purple-light);
  opacity: 50%;
}

.box-purple-dark {
  background-color: var(--color-purple-black);
  opacity: 50%;
}

/* NAV BAR */

.start .nav-bar {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.start .nav-bar .buttons {
  padding: 10px 0;
  display: flex;
  width: auto;
  gap: 20px;
}

.button {
  all: unset;
  border-radius: 2px;
  padding: 10px 20px;
  font-weight: var(--font-normal);
  font-size: var(--size-lg);
  background-color: rgba(20, 22, 23, 0.1);
  color: var(--color-background-foreground);
  cursor: pointer;
}

.button-purple {
  color: var(--color-background);
  background-color: var(--color-purple-light);
}

.start .nav-bar .buttons .button-foreground {
  border: 1px solid var(--color-background-foreground);
  color: var(--color-background-foreground);
  backdrop-filter: blur(4px);
  transition: 0.2s ease-in-out;
}
.start .nav-bar .buttons .button-foreground:hover {
  background-color: var(--color-background-foreground);
  color: var(--color-background);
}

.icon {
  padding: 5px;
}

.start .nav-bar .buttons .menu {
  all: unset;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 10px;
  width: 35px;
  color: var(--color-background-foreground);
  cursor: pointer;
}

.start .nav-bar .buttons .menu .line {
  width: 100%;
  height: 1px;
  background-color: var(--color-background-foreground);
}

.start .content {
  width: 100%;
  height: 95%;
  padding-top: 30px;
}

.start .content .title {
  font-size: var(--size-4xl);
  color: var(--color-red);
  font-weight: var(--font-bold);
  transform: translate(20px, 0px);
  margin-bottom: 20px;
}

.start .content .title::before {
  content: " ";
  width: 10px;
  height: 48px;
  background-color: var(--color-red);
  display: block;
  position: absolute;
  transform: translate(-20px, 5px);
}

.quizzes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  width: 100%;
  max-width: 100%;
  padding-bottom: 20px;
}

.quiz {
  width: 100%;
  padding: 20px 16px;
  border: 2px solid var(--color-purple-light);
  border-radius: 2px;
  background-color: hsla(248, 20%, 69%, 0.1);
  backdrop-filter: blur(40px); /* != filter*/
}

.quiz img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 16px;
  border-radius: 2px;
}

.quiz h3 {
  font-size: var(--size-2xl);
  font-weight: var(--font-normal);
  color: var(--color-purple-light);
  margin-bottom: 12px;
}

.quiz p {
  font-size: var(--size-lg);
  font-weight: var(--font-light);
  color: var(--color-background-foreground);
  margin-bottom: 12px;
}

.quiz a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 8px;
  font-size: var(--size-lg);
  color: var(--color-purple-light);
  background-color: var(--color-purple-black);
  border-radius: 2px;
}

.quiz a span {
  font-weight: var(--font-normal);
}
.text-lg {
  font-size: var(--size-lg);
}
.text-2xl {
  font-size: var(--size-2xl);
}
.text-6xl {
  font-size: var(--size-6xl);
}
.font-light {
  font-weight: var(--font-light);
}
.font-normal {
  font-weight: var(--font-normal);
}
.font-semibold {
  font-weight: var(--font-semibold);
}

/* SHEET */

.sheet {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  pointer-events: none;
  transition: 0.2s all;
}

.sheet-active {
  opacity: 1;
  pointer-events: all;
  background-color: rgba(20, 22, 23, 0.5);
  backdrop-filter: blur(20px);
}

.sheet .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 100%;
  font-size: var(--size-6xl);
  font-weight: var(--font-light);
}

.sheet .link {
  transform: translateX(200%);
  color: var(--color-background-foreground);
  transition: 0.2s all;
  cursor: pointer;
}

.sheet .link a {
  color: white;
}

.sheet .link:hover {
  font-size: var(--size-9xl);
}

.sheet .bottom .buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  text-align: center;
  padding-top: 24px;
  border-top: 1px solid rgba(203, 70, 72, 0.5);
}

.active {
  font-weight: var(--font-bold);
  color: var(--color-red) !important;
  cursor: not-allowed;
}

#button_close_menu {
  color: var(--color-background-foreground);
  cursor: pointer;
}

.link-active {
  transform: translateX(0) !important;
}

#preview-profile {
  height: 44px;
  width: 46px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
  border: 1px solid var(--color-red);
}

/* globals */

.invisibility {
  visibility: hidden !important;
  display: none !important;
}

.exit span:hover svg {
  transition: 0.2s all;
}
.exit span:hover svg {
  width: 90px;
  height: 90px;
}

.exit span {
  transition: 0.2s;
  color: var(--color-red) !important;
  display: flex;
  align-items: center;
  gap: 12px;
}

.not-found {
  width: 100vw;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6a92e8;
  position: absolute;
  top: 0;
  left: 0;
}

.not-found h2 {
  font-size: var(--size-4xl);
  font-weight: var(--font-semibold);
}

.not-found h3 {
  font-size: var(--size-3xl);
  font-weight: var(--font-normal);
}
